export(createReport)
export(degMV)
export(degMB)
export(degVB)
export(degRank)
export(degPR)
export(degMean)
export(degVar)
export(degPR)
export(degObj)
import(ggplot2)
import(utils)
import(plyr)
import(Nozzle.R1)
import(rjags)
import(coda)
import(edgeR)