export(createReport)
export(degCheckFactors)
export(degPCA)
export(degMDS)
export(degMV)
export(degMB)
export(degVB)
export(degMean)
export(degVar)
export(degObj)
export(degResults)
export(degPatterns)
export(degMerge)
export(degVolcano)
export(degPlot)
export(degPlotWide)
export(degQC)
export(degFilter)
export(degCovariates)
export(degCorCov)
importFrom(S4Vectors, SimpleList)
importFrom("grDevices", "dev.off", "jpeg", "pdf", "rgb", "colorRampPalette")
importFrom("methods", "slotNames")
importFrom("stats", "as.dist", "as.hclust", "cor", "cor.test",
           "cutree", "density", "median.default", "quantile", "sd",
           "time", "var", "na.omit", "aov", "prcomp",
           "cmdscale", "dist", "hclust", "p.adjust", "xtabs")
import(ggrepel)
import(quantreg)
import(ggplot2)
import(utils)
import(Nozzle.R1)
import(coda)
import(edgeR)
import(cluster)
import(logging)
importFrom(Biobase, rowMax)
importFrom(DESeq2, plotCounts, rlog, results)
importFrom(SummarizedExperiment, SummarizedExperiment,
           colData, assay, assays, rowData)
importFrom(psych, corr.test)
importFrom(cowplot, draw_plot)
importFrom(cowplot, ggdraw)
importFrom(cowplot, plot_grid)
importFrom(dplyr, select, select_if)
importFrom(dplyr, summarise)
importFrom(dplyr, mutate, mutate_all)
importFrom(dplyr, filter)
importFrom(dplyr, group_by)
importFrom(dplyr, "%>%")
importFrom(dplyr, distinct)
importFrom(dplyr, left_join)
importFrom(dplyr, bind_rows)
importFrom(dplyr, bind_cols)
importFrom(tidyr, spread)
importFrom(tibble, column_to_rownames, remove_rownames)
importFrom(ComplexHeatmap, HeatmapAnnotation, Heatmap)
importFrom(reshape, melt, melt.data.frame)
importFrom(knitr, kable)